@tailwind base;
@tailwind components;
@tailwind utilities;

/*Esto solo funciona en algunos navegadores*/
html {
    scroll-behavior: smooth;
}

.contenedor-texto::-webkit-scrollbar {
	width: 8px;
}

.contenedor-texto::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}